@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;600;700&display=swap');

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: DM Sans;
  color: #F9FAFB;
  font-size: 1.6rem;
  background: rgba(17, 24, 39, 1);
  background-image: url(./assets/images/Blur.png);
  backdrop-filter: blur(33px);
}
a {
  text-decoration: none;
}
ul,
li,
ol {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 13.5rem;
  text-align: center;
}

@media screen and (max-width: 1150px) {
  .container {
    padding: 0 10rem;
  }
}

@media screen and (max-width: 950px) {
  .container {
    padding: 0 7rem;
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 0 3rem;
  }
}